<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ABNConnection" connectionString="persist security info=true;data source=.;initial catalog=ABN;user id=sa;password=123456" providerName="System.Data.SqlClient" />
    <!--<add name="ABNConnection" connectionString="data source=.;initial catalog=ForecastDataSystem;integrated security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>